extends default

block content
    h1 FCoder Blog
    .welcome-container
        img(src="/img/fc-logo.png", alt="F-Coder").body-img

    .about-container
        h3
            u About us
        pre.
            usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout u
            sAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout
            usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout 
            usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout usAbout
            usAbout usAbout usAbout usAbout usAbout
            usAbout usAbout usAbout usAbout
            usAbout usAbout us
            
    .footer-container
        h3 Contact us
        p Email: email@fcoder.fpt.vn    Facebook: FCoder