@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,300&display=swap');

html {
    font-family: 'Nunito', sans-serif;
    background-color: #e9ebee;  
}

h1, h2 {
    color: #000;
    font-size: 300%;
    text-align: center;
}

nav {
    font-family: 'Nunito', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: stretch;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
}

a:visited {
    color: #9647ba;
}

nav a {
    color: #9647ba;
    text-decoration: none;
}

nav .nav-logo {
    width: 5%;
    display: flex;
    justify-content: space-around;
}

nav .nav-options {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

nav .space {
    width: 42%;
    display: flex;
    justify-content: space-around;
}

nav .login-register {
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.body-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    padding-top: 10%;
    margin-bottom: 25%;
}

.login-btn,
.register-btn {
    border: 1px solid #9647ba;
    border-radius: 5px;
    padding: 10px;
    color: #9647ba;
    transition: .5s;
}

.login-btn:hover,
.register-btn:hover {
    background-color: #9647ba;
    color: white;
    transition: .2s;
}

.welcome-container,
.about-container,
.footer-container {
    width: auto;
    text-align: center;    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.welcome-container {

}

.about-container {
    width: 75%;
    margin: 20px auto 20px auto;
    background-color:rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.footer-container {
    padding-top: 20%;
}

.profile-content {

}

.avt-img {

}

.user-info {

}
