<%- include('../partials/head')  %>	    

<div class="Grid Grid--gutters Grid--FCoder-grail">
    <!-- Main Content Start -->		
    <div class="Grid-cell main">
        <div class="Demo FCoder">
            <h1><%= title %></h1>
            <span href="#" class="tags badge badge-dark badge-pill">C/C++</span></span>
            <span href="#" class="tags badge badge-dark badge-pill">Web</span></span>
            <span href="#" class="tags badge badge-dark badge-pill">Javascript</span></span>
            <sapn href="#" class="tags badge badge-dark badge-pill">Python</span></sapn>
            <hr class="my-4">
            <p><%= content %></p>
        </div>
        <!-- Comment Start -->
        <h2> Comment </h2>
            <div class="comments">
                <textarea name="comments" id="comments" cols="85" rows="4"> Write something </textarea>
            </div>
                <button class="submit-button" id="submit-button"> Send </button>
        <!-- Comment End -->
    </div>
    <!-- Main Content End -->
                <br/>

    <!-- Aside 1 Author Start -->     
    <div class="Grid-cell aside aside-1">
        <div class="Demo FCoder"><strong>Author</strong><br />
        <div class="img-placeholder" >
            <img src="img/author.jpg">
        </div>
            <p>Đây là tác giả A, với nhiều bài viết hót hòn họt</p>
        </div>
    </div>
    <!-- Aside 1 Author End -->


    <!-- Aside 2 Revelant Post Start -->
    <div class="Grid-cell aside aside-2">
        <div class="Demo FCoder">
            <strong>Related posts</strong>
                <hr>
                <p>Bài viết số 1</p>
                <p>Bài viết số 2</p>
                <p>Bài viết số 3</p>
        </div>
    </div>
    <!-- Aside 2 Revelant Post End --> 
</div>

<%- include('../partials/footer')  %>